/checkpoints/
/runs/
/D2/
/files/
dataset/
logs/
.vscode/
.ipynb_checkpoints/
qualiti-retina-dataset/*
train/*
riqa/*
image-quality/*
pretrain/*
.ipynb_checkpoints/*
csv/*
images1/*
datasets/detection/retina/*
datasets/PulbicDatasets/*
datasets/segmentation/*
datasets/classification/*
outputs/*